<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Интернет магазин</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/1.png' %}" alt = "Логотип интернет магазина" width="100">
        <h1>Добро пожаловать в мой интернет магазин</h1>
    </header>
    {% block content %}
    <h2>Список товаров</h2>
    <nav>
        <a href="?">Все товары</a> |
        <a href="?category=smartphone">Смартфоны</a> |
        <a href="?category=computer">Компьютеры и Ноутбуки</a> |
        <a href="?category=планшет">Планшеты</a> |
        <a href="?category=accessories">Аксессуары</a> |
    </nav>
    <ul>
        {% for product in products %}
        <li>{{ product.name }} - {{product.price}} ₽ </li>
        {% endfor %}
    </ul>
    {% endblock %}
{% block footer %}
    <h4> Автор проекта: Вершинин Виктор</h4>
</body>

<p>© 2024, Интернет-магазин</p>
</html>
{% endblock %}
