<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ text }}</h1>
    <h2>https://uguide.ru/tablica-osnovnykh-tegov-html-s-primerami</h2>
    <h3>https://uguide.ru/tablica-osnovnykh-tegov-html-s-primerami</h3>
    <p>https://uguide.ru/tablica-osnovnykh-tegov-html-s-primerami</p>
    <p>https://uguide.ru/tablica-osnovnykh-tegov-html-s-primerami</p>
    <button><h1>Кнопка</h1></button>
    <a href="https://uguide.ru/tablica-osnovnykh-tegov-html-s-primerami">Ссылка</a>
    <ul>
        <li>Первый пункт</li>
        <li>Второй пункт</li>
        <li>Третий пункт</li>
    </ul>
</body>
</html>
